
<div class="container-fluid title pt-2 pb-1">

</div>
<nav class="title">
  <h2 class="title" href="#">PROYECTO 2 (SYSCOMPILER)</h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li>
          <button type="button" class="btn btn-dark rounded-0" (click)="openDialog()">Abrir
            <input id="fileInput" type="file" style="display:none" accept=".sc" (change)="readFile($event)" [(ngModel)]="fname">
          </button>
          <button (click)="guardar()" type="button" class="btn btn-dark rounded-0">Guardar como</button>

          <button (click)="nuevaventana()" type="button" class="btn btn-dark rounded-0">Nueva pestaña</button>
        
          <button (click)="cerrarventana()" type="button" class="btn btn-dark rounded-0">Cerrar pestaña</button>
        
          <button (click)="getAST()" type="button" class="btn btn-dark rounded-0">Reporte AST</button>
        
          <button (click)="limpiar()" type="button" class="btn btn-dark rounded-0">Limpiar</button>
        
          <button (click)="cambioblanco()" type="button" class="btn btn-dark rounded-0">Tema Claro</button>
        
          <button (click)="cambioscuro()" type="button" class="btn btn-dark rounded-0">Tema Oscuro</button>
        
          <button (click)="cambiocontraste()" type="button" class="btn btn-dark rounded-0">Tema de Contraste</button>
        </li>
          <li class="nav-item active">

          </li>
  
      </ul>
  </div>
</nav>
<div class="mb-2 barra">

  <form #iForm="ngForm" class="mb-4" (ngSubmit)="onSubmit()" novalidate>

    <button type="submit" class="btn btn-dark rounded-0"  style="display: block; margin: 0 auto;">Ejecutar</button>
    </form>



</div>
<form>
<div class="row justify-content-center">
  <div class="col-md-12">
      <br>
      <div class="row">
          <div class="col-md-6">
              <div class="editor">
                  <div class="mona">Editor</div>
                  <div class="card-body">
                      <div style="width: auto; height: 500px;">
                      <ngx-monaco-editor id="entrada" name="entrada" class="codebox" [options]="EditorOptions" [(ngModel)]="entrada">
        </ngx-monaco-editor>
                      </div>
                  </div>
                  <br>
              </div>
          </div>
          <div class="col-md-6">
              <div class="editor">
                  <div class="mona">Consola</div>
                  <div class="card-body">
                      <div style="width: auto; height: 500px;">
                         <ngx-monaco-editor id="salida" name="salida" class="codebox" [options]="ConsoleOptions" [(ngModel)]="salida">
        </ngx-monaco-editor>
                      </div>
                  </div>
                  <br>
              </div>
          </div>
      </div>
  </div>
</div>

  </form>

  <hr>

    <div class="row justify-content-center">
        <div class="editor">
            <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item active">
                    <a class="nav-link active" data-toggle="tab" href="#simbolos">Tabla de Símbolos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#errores">Tabla de Errores</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active show" id="simbolos">
                    <div class="col-md-12">
                        <br>
                        <div style="width: auto; height: auto;">
                            <table class="table table-success table-hover">
                                <thead>
                                    <tr>
                                        <td>#</td>
                                        <td>Nombre</td>
                                        <td>Tipo símbolo</td>
                                        <td>Tipo dato</td>
                                        <td>Ámbito</td>
                                        <td>Fila</td>
                                        <td>Columna</td>
                                    </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let item of simbolos; let i = index">
                                    <th scope="row">{{i+1}}</th>
                                    <td >{{item.id}}</td>
                                    <td >{{item.objeto}}</td>
                                    <td >{{item.tipo}}</td>
                                    <td >{{item.entorno}}</td>
                                    <td >{{item.linea}}</td>
                                    <td >{{item.columna}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="tab-pane fade" id="errores">
                    <div class="col-md-12">
                        <br>
                        <div style="width: auto; height: auto;">
                            <table class="table table-danger table-hover">
                                <thead>
                                    <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">Tipo</th>
                                      <th scope="col">Error</th>
                                      <th class="text-center" scope="col">Fila</th>
                                      <th class="text-center" scope="col">Columna</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let item of errores; let i = index">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{item.tipo}}</td>
                                    <td class="fc">{{item.error}}</td>
                                    <td class="text-center">{{item.linea}}</td>
                                    <td class="text-center">{{item.columna}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
 
    

<footer class="text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <p class="foot my-0">
      © 2021 Carlos Roberto Rangel Castillo
    </p>
  </div>
</footer>